<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
        <mapping class="edu.vanderbilt.cqs.bean.User" />
        <mapping class="edu.vanderbilt.cqs.bean.Pipeline" />
        <mapping class="edu.vanderbilt.cqs.bean.PipelineTask" />
        <mapping class="edu.vanderbilt.cqs.bean.Project" />
        <mapping class="edu.vanderbilt.cqs.bean.ProjectUser" />
        <mapping class="edu.vanderbilt.cqs.bean.ProjectTask" />
        <mapping class="edu.vanderbilt.cqs.bean.ProjectTaskStatus" />
        <mapping class="edu.vanderbilt.cqs.bean.Technology" />
        <mapping class="edu.vanderbilt.cqs.bean.Platform" />
        <mapping class="edu.vanderbilt.cqs.bean.Module" />
    </session-factory>
</hibernate-configuration>