<html>
<body>
<h3>Hi ${user.name}, your password has been reseted at the <a href="http://cqs.mc.vanderbilt.edu/projecttrace/">Project Trace System of CQS/VUMC!</a></h3>
<div>
	<p>
   	Your login name is ${user.email}
   	<p>
   	Your temporal password is: ${password} 
   	<p>
   	You can change your password after you login into the system.
</div>
</body>

</html>